*{
  font-family: verdana;
  margin: 0;
}

body{
  background: #eee;
  color: #333;
}

.container{
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
header{
  width: 100%;
  margin: 0 auto;  
  text-align: center;

}
h1{
    padding: 20px 0;
    background: #fff;
}
img{
    width: 100%;
    height: 100%;
  //  min-width: 600px;
}
p{
    padding: 10px;
}
.post{
    width: 100%;
    border: #333;
    background: #fff;
    margin: 20px 0;
}
.title{
    display: flex;
    justify-content: space-between;
    padding: 20px;
}
span{
    color:gray;
}
